.weekly-table {
    width: 50%;
}
.row-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.active,
.row-container:hover {
    background-color: #ccc;
}
.panel {
    padding: 3px 18px 0 18px;
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
}
.panel p {
    white-space: pre-wrap;
}
.hide {
    display: none;
}
.show {
    display: show;
}
.icon-and-day {
    display: flex;
}
.temperature-container {
}
.top-font {
    margin: 0;
    padding: 0;
}
.bot-font {
    font-size: 90%;
    margin: 0;
    padding: 0;
}
.temp-border {
    border: 1px solid red;
}
.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 30px;
    height: 30px;
    /* object-fit: cover; */
}
.float-right {
    margin-left: -15px;
}
.grey-border {
    border-bottom: 1px solid lightgray;
}
